<div class="row">
	<div class="col-sm-offset-1 col-sm-4">
		<div ng-show="showEditor">

			<h2 class="main-header">Add new room</h2>
			<div class="form-group">
				<label>Room Name</label>
				<input class="form-control" ng-model="room.fullName">
			</div>
			<div class="form-group">
				<label>Room Url Name</label>
				<input class="form-control" ng-model="room.roomName">
			</div>
			<button class="btn btn-primary" ng-click="addRoom()">Save</button>
			<button class="btn btn-info" ng-click="updateRoom()">Update</button>
			<button class="btn btn-default" ng-click="deselect() ; showEditor = !showEditor">Cancel</button>
		</div>
	</div>
</div>
<div class="col-sm-offset-1 col-sm-10">
	<h2>Rooms</h2>
	<hr>
	<br>
	<div class="form-group">
		<button class="btn btn-primary" ng-click="showEditor = ! showEditor" ng-hide="showEditor">Add room</button>
	</div>
	<table class="table table-striped table-bordered">
		<thead>
		<tr>
			<th>Room Name</th>
			<th>Room Url name</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<input class="form-control" ng-model="event.subject" style="display: none;">
		<tr ng-repeat="room in roomslist | orderBy:'fullName' | filter: {'users' : userId}">
			<td><p ng-hide="roomEditor">{{room.fullName}}</p>
			<input class="form-control" ng-show="roomEditor" ng-model="room.fullName">
			</td>
			<td><p ng-hide="roomEditor">{{room.roomName}}</p>
			<input class="form-control" ng-show="roomEditor" ng-model="room.roomName"></td>
			<td style="display: none">{{room.roomName}}</td>
			<td style="vertical-align: middle;">
				<div ng-hide="roomEditor" ng-show="!roomEditor">
					<a href="/subjects"><button ng-click="getRoom(room._id)" class="btn btn-success">Visit Room</button></a>&nbsp;&nbsp;<button class="btn btn-warning" ng-click="editRoom(room._id) ; roomEditor = ! roomEditor" >Edit</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="removeRoom(room._id)">Remove</button>
				</div>
				<div ng-show="roomEditor" ng-hide="!roomEditor">
					<button class="btn btn-primary" ng-click="updateRoom(room) ; roomEditor = ! roomEditor">Save</button>&nbsp;&nbsp;<button class="btn btn-default" ng-click="deselect() ; roomEditor = ! roomEditor">Cancel</button>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
