<div class="row">
	<div class="col-sm-offset-2 col-sm-8">
		<h2>Existing subjects</h2>
		<hr>
		<div class="form-group">
			<button class="btn btn-success" ng-click="showEditor = ! showEditor ;  subject.room = roomId" ng-hide="showEditor">Add New</button>
		</div>
		<div class="row" ng-show="showEditor">
			<div class="col-sm-4">
				<input placeholder="Subject name" class="form-control" ng-model="subject.name">
				<input placeholder="Teacher" class="form-control" ng-model="subject.teacher">
				<input class="form-control" ng-model="subject.room" style="display: none;">
				<button class="btn btn-primary" ng-click="showEditor = ! showEditor ; addSubject()">Save</button>
				<button class="btn btn-danger" ng-click="showEditor = ! showEditor ; deselect()">Cancel</button>
				<br>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-4" ng-repeat="subject in subjectlist | filter: {'room' : roomId}">
				<ul class="event-list list-group">
					<li class="list-group-item list-group-item-success">
						<div ng-show="showListEditor">
							<input placeholder="Subject name" class="form-control" ng-model="subject.name">
							<input placeholder="Teacher" class="form-control" ng-model="subject.teacher">
							<button class="btn btn-primary" ng-click="updateSubject(subject)">Save</button> &nbsp;&nbsp;<button class="btn btn-danger" ng-click="deselect(); showListEditor = ! showListEditor">Cancel</button>
						</div>
						<div class=" text-center" ng-hide="showListEditor">
							<h4 class="text-center event-title">{{subject.name}}</h4>
							<small class="muted">{{subject.teacher}}</small>
						</div>
					</li>
					<li class=" list-group-item" ng-repeat="event in eventlist | filter: {'subject' : subject._id} | limitTo: 5 | orderBy : 'date'">
						<div ng-if="actualDate > event.date">date2005 > date2006</div> <!-- won't show -->
						<div ng-if="actualDate < event.date">date2006 > date2005</div> <!-- will show -->
						<b>{{event.title}}</b>
						<p>{{event.desc}}</p>
						<div class="row">
							<div class="col-sm-6">
								<small class="text-muted">{{event.place}}</small>
							</div>
							<div class="col-sm-6 text-right">
								<small class="text-muted">{{event.date}}, {{event.time}}</small>
							</div>
						</div>


					</li>
				</ul>
				<div class="form-group" ng-hide="showListEditor">
					<a href="/item"><button class="btn btn-primary" ng-click="getSubject(subject._id)">See More</button></a>&nbsp;&nbsp;<button class="btn btn-warning" ng-click="editSubject(subject._id) ; showListEditor = ! showListEditor">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="removeSubject(subject._id)">Remove</button>
				</div>


			</div>
		</div>

	</div>
</div>
